body{
  background-image: url('park.jpg');
  background-size: cover;         
  background-repeat: no-repeat;   
  


}


.bbq{
      background-image: url('image/bbq.png');
        background-size: cover;         
        background-repeat: no-repeat;
    bottom: 100px;}

.firework {
  position: absolute;
  top: 100px;
  left: 0;
  width: 300px; /* adjust size as needed */
  pointer-events: none; /* lets clicks pass through it */
}
