body{
background-image: url('image/park.jpg');
  background-size: cover;         
  background-repeat: no-repeat;   
  


}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #e60073,
                 0 0 40px #e60073,
                 0 0 50px #e60073,
                 0 0 60px #e60073,
                 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff,
                 0 0 30px #ff4da6,
                 0 0 40px #ff4da6,
                 0 0 50px #ff4da6,
                 0 0 60px #ff4da6,
                 0 0 70px #ff4da6,
                 0 0 80px #ff4da6;
  }
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    
}
.words {
    font-family: Impact, sans-serif;
    font-size: 60px;
    position: absolute;
    top: 50px;
    right: 100px;
}

.july {
    color: white;
    margin-right: 10px;
        font-size: 80px;

}

.fourth {
    color: red;
    font-size: 80px;
    margin-right: 10px;
}

.year {
    color: blue;
    font-size: 80px;
}

.bbq {
    position: fixed;
    bottom: 0;
    left: 40%;
    
    background-image: url('image/bbq.png');
    background-size: cover;
    background-position: center;
    
    width: 400px;  
    height: 300px;
    border: 2px solid rgba(255, 0, 0, 0);
}