body{
  background-image: url('park.jpg');
  background-size: cover;         
  background-repeat: no-repeat;   
  


}


.bbq{
      background-image: url('image/bbq.png');
        background-size: cover;         
        background-repeat: no-repeat;
    bottom: 100px;}